/*<editor-fold desc="BODY ---------------------------------------- /">*/
body {
    background-color: #f4f4f4;
}
/*</editor-fold>*/
/*<editor-fold desc="BODY CONTAINER ----------------------------------- /">*/

h2.dashboard-title {
    margin-top: 10px;
}

.right_col {
    padding: 10px 20px 0;
    margin-left: 220px;
}

.body-panel h2 {
    font-size: 28px;
    width: 100%;
}

.fill-body {
    min-height: 600px;
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

.body-panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
/*</editor-fold>*/
/*<editor-fold desc="FONT AWESOME">*/
.navbar .fa {
    color: #fff;
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.fa.fa-caret-right {
    margin-left: 5px;
    vertical-align: bottom;
}
/*</editor-fold>*/
/*<editor-fold desc="LEFTSIDE NAVBAR ------------------------------------- /">*/

.navbar .navbar-brand {
    background-color: #2b2f3c;
    width: 100%;
}
.navbar a.active {
    background-color: #636a80;
}
a.dropdown-toggle.active {
    background-color: #636a80;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{
    background-color: #636a80;
}

.navbar-inverse {
    background-color: #3b445d;
    border-color: #191c25;
}
.navbar-fixed-left .navbar-nav li.divider {
    height: 1px;
    background-color: #f3f3f3;
    opacity: .5;
}

.navbar-fixed-left {
    width: 230px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    z-index: 1000;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 229px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 229px;
    width: 220px;
}
/*</editor-fold>*/
/*<editor-fold desc="ERROR MESSAGES ----------------------/">*/
tr.has-error td div.controls label.control-label {
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}
/*</editor-fold>*/
/*<editor-fold desc="POST LIST ---------------------------------------/">*/
.all-posts-button-row {
    margin: 30px 0 50px auto;
}
td.post-date {
    font-size: 14px;
}
td.post-id {
   color: #73879c;
}
table#postsTable td.published-title a, table#postsTable td.draft-title a {
    text-decoration: none;
}
table#postsTable td.published-title:hover a, table#postsTable td.draft-title:hover a {
    text-decoration: underline;
}

/*</editor-fold>*/

/*<editor-fold desc="POST FORM TOP ----------------------------------/">*/
.form-title-button-right-area {
    margin-top: 10px
}
h2.admin-form-title {
    padding-top: 0;
    margin-top: 5px;
}
.form-title-button-right-area {
    margin-top: 10px;
    border-bottom: 1px #eee solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
/*</editor-fold>*/

/* Following from original NixMash Administration Stylings */

/*/<editor-fold> desc="GENERAL ----------------------------/ "*/

div.left_col.scroll-view div.profile {
    margin-bottom: 20px;
    display: inline-block;
}

.site_title i {
    border: none;
}

span.pad-right {
    padding-right: 5px;
}

.x_title small.h2_subtitle {
    margin-left: 10px;
    vertical-align: -webkit-baseline-middle;
}

.alert-danger .close, .alert-error .close {
    opacity: 1;
}
.alert-danger label.control-label, .alert-error label.control-label{
    color: #fff;
}


/*</editor-fold>*/
/*/<editor-fold> desc="SIDEBAR ----------------------------/ "*/

li.current-page {
    background: rgba(236, 214, 214, 0.26)
}

.sidebar-footer-text {
    margin-left: 5px;
}

.sidebar-footer a {
    text-align: left;
    width: 100%;
}

/*</editor-fold>*/
/*/<editor-fold> desc="BODY AREA ----------------------------/ "*/

.fill-body, .fill-body-table {
    min-height: 600px;
}

.fill-body-table {
    font-size: 14px;
}

.fill-body-message {
    font-size: 20px;
    font-style: italic;
}

/*</editor-fold>*/
/*/<editor-fold> desc="FORMS ----------------------------/ "*/

ul.roleList {
    padding-left: 0px;
}

ul.roleList li {
    list-style: none;
    display: inline-block;
    padding-right: 8px;
}

input#authority {
    vertical-align: top;
    margin-right: 8px;
}

#role-form input.btn.btn-primary {
    margin-right: 0px;
}

tr.border-bottom-row {
    border-bottom: solid #ddd 1px;
}

/*</editor-fold>*/
/*/<editor-fold> desc="FLASHCARD ADMINISTRATION----------------------------/ "*/

.form-inline .form-control.flashcard-content {
    min-width: 220px;
}

img.flash-thumbnail {
    border: 2px #000000 solid;
}

#flashcard-form button.btn.dropdown-toggle.btn-primary {
    padding: 0;
}

#flashcard-form .btn-group.bootstrap-select.btn.dropdown-toggle.btn-primary,
#flatd.new-flashcard-form .btn-group.bootstrap-select.btn.dropdown-toggle.btn-primary {
    padding: 0px 5px 0px 8px;
    margin-bottom: 4px;
}

td.new-flashcard-form button.btn.dropdown-toggle.btn-primary {
    padding: 0;
}

td.new-flashcard-form span {
    line-height: 18px;
}

input#category {
    vertical-align: top;
}


td.new-flashcard-form input {
    display: inline;
    float: none;
    margin-left: 15px;
}

td.new-flashcard-form input[type="file"] {
    margin-top: 7px;
    font-size: 16px;
    max-width: 256px;
    margin-top: 7px;
    font-size: 16px;
}

td.new-flashcard-form select#categoryId {
    margin-left: 15px;
    margin-top: 4px;
}

td.new-flashcard-form input#description {
    min-width: 300px;
}
/*</editor-fold>*/
/*/<editor-fold> desc="LINK PAGE PREVIEW----------------------------/ "*/
.page-preview img.thumbnail {
    max-height: 120px;
    float: right;
    margin-left: 20px;
}

.page-preview h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.table tbody tr td.td-carousel {
    padding: 20px;
}

#pagepreview-carousel .carousel-inner .item img {
    display: inline-block;
    max-width: 600px;
    max-height: 400px;
}

.pagepreview-images {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-color: transparent;
}

/*</editor-fold>*/
/*/<editor-fold> desc="TAGS AND POST FORMS----------------------------/ "*/
.inline-tag, .inline-category {
    font-size: smaller;
    /* font-weight: bold; */
    background-color: hsl(219, 14%, 94%);
    display: inline;
    color: #34495e;
    padding: 5px 7px 7px 6px;
    margin-right: 0;
    white-space: nowrap;
    border-radius: 3px;
}
.inline-category {
    color: #000;
    background-color: #cdceda;
}

.bootstrap-tagsinput {
    width: 100%;
    margin-top: 5px;
}
#tagsTable {
    color: #403b63;
}
.bootstrap-tagsinput input[type="text"] {
    width: 60px;
}

div#post-select .btn.dropdown-toggle.btn-primary {
    padding-bottom: 9px;
    padding-top: 11px;
    margin-bottom: 0px;
}
div#post-select .buttons, button, .btn {
    margin-right: 0;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
    font-weight: bold;
    font-size: small;
}
span.tag.label {
    padding: 5px;
    font-size: inherit;
    margin-right: 6px;
    color: #f2f2f2;
    margin-bottom: 0px;
    background-color: #636a80;
}

input#postTitle {
    font-size: larger;
    padding-left: 8px;
}

input#tagValue {
    vertical-align: top;
}

.link-image {
    float: right;
}

.link-image img {
    border: 2px #0e285f solid;
    margin: 3px;
    max-width: 220px;
}

.link-image-text {
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}

td.post-check-col {
}

td.post-check-col input {
    margin-left: 25px;
}

td.post-displaytype-col {
    text-transform: capitalize;
}

td.draft-title a {
    color: #bbb;
}

td.published-title a {
    color: #403b63;
}

.error-dialog .modal-content {
    background-color: rgb(249, 246, 183);
}

tr.ispublished-tr {

}
td.ispublished-td {

}
.post-status-label {
    float: left;
    margin-right: 4px;
    font-weight: bold;
    margin-top: 6px;
}
td.ispublished-td button.btn.dropdown-toggle.btn-primary {
    padding: 0 12px;
    max-width: 150px;
}
td.ispublished-td .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px;
}

a.password-glyph {
    margin-left: 4px;
}

/*</editor-fold>*/
/*<editor-fold desc="CATEGORIES ----------------------------------/">*/
input.new-category {
    min-width: 250px;
    margin-top: -4px;
}
input[type=checkbox].category-checkbox {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    margin: 10px;
}
#categoriesTable {
    color: #403b63;
}
#categoriesTable tr.category-default {
    background-color: #eee;
}
/*</editor-fold>*/
/*/<editor-fold> desc="SOLR FORMS----------------------------/ "*/
td.solr-message span {
    color: #333;
    background-color: #eee;
    padding: 1px 6px;
}
table.table-striped td.solr-message {
    height: 125px;
    margin-top: 40px;
    padding: 40px;
    border: #2a3f54 1px solid;
    color: #cd5c5c;
}
td.reindex-msg-td {

}

/*</editor-fold>*/
/*<editor-fold desc="LIST  TABLES --------------------------------/">*/
.th-tags {

}
/*</editor-fold>*/