/*<editor-fold desc="Page ---------------------------------/">*/
body {
    background-color: #eee;
}
/*</editor-fold>*/
/*<editor-fold desc="Body ------------------------------/">*/
#content {
    background-color: #fff;
    margin: 50px 0 0 0;
    min-height: 720px;
}
.content {
}
.content h1.title {
    font-size: 48px;
    margin-bottom: 12px;
}
p.subtitle {
    font-size: 18px;
}
.body {
    margin-top: 40px;
}
ol.menu {
    margin-top: 30px;
    font-size: 18px;
    padding-left: 80px;
}
ol.menu li {
    margin-bottom: 3px;
}
/*</editor-fold>*/
/*<editor-fold desc="Page Header -----------------/">*/
.page-header {
    border-bottom: none;
}
.page-header h1 {
    font-size: 3em;
}
.sponsor img {
    max-width: 175px;
}
.sponsor {
    text-align: right;
}
/*</editor-fold>*/
/*<editor-fold desc="Navbar -------------------------/">*/
a.navbar-text.pull-right.navbar-demos.dropdown-toggle,
a.navbar-text.pull-right.navbar-welcome.dropdown-toggle {
    margin: 0;
}
/*</editor-fold>*/
/*<editor-fold desc="File Uploads -------------------------------/ ">*/
input.file-input {
    padding: 12px 0;
}
.button-row {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;
}
form.multifile input.file-input {
    float: left;
}
form.multifile button.btn-sm {
    padding: 1px 6px;
    font-size: 12px;
    margin-top: 11px;
    border-radius: 50%;
}
.col-cancel {
    padding-left: 0;
}
    /*</editor-fold>*/
/*<editor-fold desc="Footer ------------------------------/">*/
#footer {
    margin: 0;
    min-height: 80px
}

.footer {
    font-size: 16px;
    color: #666;
    margin: 40px auto;
}
/*</editor-fold>*/