<!DOCTYPE html>
<html lang="en">
<head>
    {{> templates/partials/header.html }}
</head>
<body>
<!-- Navigation -->
{{> templates/partials/navbar.html }}


<div id="content">
    <div class="container">
        <div class="content">
            {{> templates/partials/lead.html }}
            <div class="body">
                <ol class="menu">
                    <li><a href="/downloads/direct/txt">Text File</a></li>
                    <li><a href="/downloads/direct/odt">LibreOffice Writer File</a></li>
                    <li><a href="/downloads/direct/pdf">PDF File</a></li>
                    <li><a href="/downloads/direct/jpg">Jpeg Image</a></li>
                    <li><a href="/downloads/direct/tar.gz">Tar Gzipped File</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

{{> templates/partials/footer.html }}

</body>
</html>
