<!DOCTYPE html>
<html lang="en">
<head>
    {{> templates/partials/header.html }}
</head>
<body>
<!-- Navigation -->
{{> templates/partials/navbar.html }}


<div id="content">
    <div class="container">
        <div class="content">
            {{> templates/partials/lead.html }}
            <div class="body">
                <h3>Select demo option</h3>
                <ol>
                    <li><a href="/uploads/single">Single File Upload Demo</a></li>
                    <li><a href="/uploads/multi">Multiple File Uploads</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

{{> templates/partials/footer.html }}

</body>
</html>
