<!DOCTYPE html>
<html lang="en">
<head>
    {{> templates/partials/header.html }}
</head>
<body>
<!-- Navigation -->
{{> templates/partials/navbar.html }}


<div id="content">
    <div class="container">
        <div class="content">
            <h1 class="title">Welcome!</h1>
            <p class="subtitle">Welcome to NixMash File Uploader</p>
            <div class="body">
                <p>Enter files to upload to the server.</p>
            </div>
        </div>
    </div>
</div>

{{> templates/partials/footer.html }}

</body>
</html>
